<!doctype html>
<html lang="en">
<head>
    <title>now/here</title>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.autogrow-textarea.js"></script>
    <script type="text/javascript" src="/static/js/linkify.min.js"></script>
    <script type="text/javascript" src="/static/js/linkify-jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/geohash.js"></script>
    <script type="text/javascript">

        var places = {{ places | safe }};
        var page = 0;
        var updating = false;
        var mouse_x = 0;
        var mouse_y = 0;

        var updateEntry = function(entryID) {
            console.log("updateEntry [" + entryID + "]")
            var content = $('#content_' + entryID).val();
            var tags = $('#tags_' + entryID).val();
            if (!content.length || !tags.length) {
                return;
            }
            updating = true;
            $.ajax({
                type: 'POST',
                url: '/update',
                data: { entry_id: entryID,
                        location: $('#location_' + entryID).val(),
                        tags: fixTags(tags),
                        date: $('#date_' + entryID).val(),
                        content: content
                        },
                success: function(data) {
                    if (entryID == "new") {
                        search($('#tags_' + entryID).val());
                    } else {
                        window.location.reload();
                    }
                },
                error: function(data) {
                    alert(data.responseText);
                }
            });
        }

        var deleteEntry = function(entryID) {
            console.log("deleteEntry")
            if (confirm("Really delete?")) {
                $.ajax({
                    type: 'POST',
                    url: '/delete',
                    data: { entry_id: entryID },
                    success: function(data) {
                        window.location.reload();
                    },
                    error: function(data) {
                        alert(data.responseText);
                    }
                });
            }
        }

        var search = function(searchTerm, page=0) {
            // fulltext: split on " and every second term is fulltext
            if (searchTerm == null) {
                tags = "";
                fullText = "";
            } else {
                var tokens = searchTerm.split('"');
                var tags = tokens.filter(function(element, index, array) {
                    return (index % 2 === 0);
                });
                tags = fixTags(tags);
                var fullText = tokens.filter(function(element, index, array) {
                    return (index % 2 === 1);
                });
                if (fullText.length) {
                    fullText = '"' + fullText[0] + '"';
                    if (tags.length > 0) fullText = ',' + fullText;
                } else {
                    fullText = "";
                }
            }
            var location = "?q=" + tags + fullText + "&p=" + page;
            if (page == 0) {
                window.location = location;
            } else {
                return location;
            }
        }

        var fixTags = function(tags) {
            tags = "" + tags;
            tags = tags.replace(/,/g, ' ').replace(/[,\/#!?@+|[\]><$%\^&\*;:{}=\`~()']/g,"").replace(/\./g, '_').replace(/ /g, ',').toLowerCase();
            tags = tags.split(',');
            tags = tags.filter(function(tag) {
              return tag.length > 0;
            });
            tags = tags.join(',');
            return tags;
        }

        var makeEditable = function(element) {
            if (!$(element).is("pre")) return;
            $(element).find('.linkified').contents().unwrap();
            var attributes = $(element).prop("attributes");
            var n = $('<textarea/>', {
                html: $(element).html().replace(/\/\/nowhere\//g, "nh/")
            });
            $.each(attributes, function() {
                n.attr(this.name, this.value);
            });
            var position = $(window).scrollTop(); // has to come before replace
            $(element).replaceWith(n);
            // n.focus({preventScroll: true}); // doesn't work in Safari
            n.focus();
            if (n.val().length) {
                n.val(n.val() + "\n");
            } else {
                n.val(n.val());
            }
            n.autogrow();
            window.scrollTo(0, position);
        }

        var makeNonEditable = function(element) {
            if (!$(element).is("textarea") || updating) return;
            var attributes = $(element).prop("attributes");
            var n = $('<pre/>', {
                html: $(element).html().replace(/nh\//g, "//nowhere/").trim()
            });
            $.each(attributes, function() {
                n.attr(this.name, this.value);
            });
            n.linkify({target: "_blank"});
            n.html(n.html().replace(/>\/\/nowhere\//g, ">nh/"));
            n.html(n.html().replace(/\/\/nowhere\//g, "/"));
            $(element).replaceWith(n);
            $('*').on('click', function(e) {
                e.stopPropagation();
            });
            n.css("height", "auto");
        }

        $(document).ready(function() {
            $('pre').linkify({target: "_blank"});
            $('pre').html(function(i, old) {
                return old.replace(/>\/\/nowhere\//g, ">nh/");
            });
            $('pre').html(function(i, old) {
                return old.replace(/\/\/nowhere\//g, "/");
            });
            $('*').on('click', function(e) {
                e.stopPropagation();
            });
            var getGeo = function(geo) {
                var lon = geo.coords.longitude;
                var lat = geo.coords.latitude;
                var geohash = encodeGeoHash(lat, lon);
                $('#location_new').val(geohash);
                var place = places[geohash.substr(0, 4)];
                if (place == undefined) place = geohash;
                p = "<a target='_new' href='http://maps.google.com/?q=" + lat + "," + lon + "'>" + place + "</a>";
                $('#display_location_new').html(p);
            }
            try {
                navigator.geolocation.getCurrentPosition(getGeo);
            } catch (e) {
                console.log("Location blocked by browser");
            }
        });

        $(window).scroll(function() {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                page += 1;
                $.ajax({
                    type: 'GET',
                    url: search($('#search').val(), page),
                    success: function(partial) {
                        $("#more").replaceWith(partial)
                    },
                    error: function(data) {
                        alert(data.responseText);
                    }
                });
            }
        });

    </script>
</head>

<body>
    <div id="main">
        <div id="searchbar">
            <a href="/">NEW</a> - <a href="/?q">RECENT</a> - SEARCH: <input id="search" type="text" onChange="search($('#search').val());" value="{% if search_string != None %}{{ search_string }}{% endif %}" />
        </div>
        {% if cloud %}
        <div id="tagcloud">
            {% for tag in cloud %}
                <a href="javascript:search('{{ tag[0] }}');" class="tag_{{ tag[1] }}">{{ tag[0] }}</a>
            {% endfor %}
        </div>
        {% endif %}
        <div id="content">
        {% include "content.html" %}
        </div>
    </div>

</body>
</html>
