<!doctype html> 
<html lang="en"> 
<head>
    <title>now/here</title>
    <meta charset="utf-8"/>    
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <script type="text/javascript" src="/static/js/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.autogrow-textarea.js"></script>
    <script type="text/javascript" src="/static/js/geohash.js"></script>  	        
    <script type="text/javascript">

        var places = {{ places | safe }};
        var page = 0;
        var searchTerm = null;

        var updateEntry = function(entryID) {
            console.log("updateEntry [" + entryID + "]")
            var content = $('#content_' + entryID).val();
            var tags = $('#tags_' + entryID).val();
            if (!content.length || !tags.length) {
                return;
            }
            $.ajax({
                type: 'POST',
                url: '/update',                
                data: { entry_id: entryID,
                        location: $('#location_' + entryID).val(), 
                        tags: fixTags(tags), 
                        date: $('#date_' + entryID).val(),
                        content: content
                        },
                success: function(data) {                
                    if (entryID == "new") {
                        search($('#tags_' + entryID).val());
                    } else {
                        window.location.reload();
                    }
                },
                error: function(data) {
                    alert(data.responseText);
                }
            });
        }

        var deleteEntry = function(entryID) {
            console.log("deleteEntry")
            if (confirm("Really delete?")) {
                $.ajax({
                    type: 'POST',
                    url: '/delete', 
                    data: { entry_id: entryID },
                    success: function(data) {        
                        window.location.reload();
                    },
                    error: function(data) {
                        alert(data.responseText);
                    }
                });
            }
        }

        var search = function(searchTerm, page=0) {
            // fulltext: split on " and every second term is fulltext
            if (searchTerm == null) {
                tags = "";
                fullText = "";
            } else {
                var tokens = searchTerm.split('"');
                var tags = tokens.filter(function(element, index, array) {
                    return (index % 2 === 0);
                });
                tags = fixTags(tags);            
                var fullText = tokens.filter(function(element, index, array) {
                    return (index % 2 === 1);
                });
                if (fullText.length) {
                    fullText = '"' + fullText[0] + '"';
                    if (tags.length > 0) fullText = ',' + fullText;
                } else {
                    fullText = "";
                }     
            }
            var location = "/?q=" + tags + fullText + "&p=" + page;
            if (page == 0) {
                window.location = location;
            } else {
                return location;
            }
        }

        var fixTags = function(tags) {
            tags = "" + tags;
            tags = tags.replace(/,/g, ' ').replace(/[,\/#!?@+|[\]><$%\^&\*;:{}=\`~()']/g,"").replace(/\./g, '_').replace(/ /g, ',').toLowerCase();
            tags = tags.split(',');
            tags = tags.filter(function(tag) { 
              return tag.length > 0;
            });              
            tags = tags.join(',');
            return tags;
        }

        $(document).ready(function() {           
            $('.entry_content').autogrow();
            var getGeo = function(geo) {
                var lon = geo.coords.longitude;
                var lat = geo.coords.latitude;
                var geohash = encodeGeoHash(lat, lon);                        
                $('#location_new').val(geohash);
                var place = places[geohash.substr(0, 4)];
                if (place == undefined) place = geohash;
                p = "<a target='_new' href='http://maps.google.com/?q=" + lat + "," + lon + "'>" + place + "</a>";
                $('#display_location_new').html(p);
            }                
            navigator.geolocation.getCurrentPosition(getGeo);                    
        });        

        $(window).scroll(function() {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {                
                page += 1;
                $.ajax({
                    type: 'GET',
                    url: search(searchTerm, page),
                    success: function(partial) {
                        $("#more").replaceWith(partial)                        
                        $('.entry_content').autogrow();
                    },
                    error: function(data) {
                        alert(data.responseText);
                    }
                });                             
            }
        });        

    </script>
</head>

<body>
    <div id="main">        
        <div id="searchbar">
            <a href="/">NEW</a> - <a href="/?q">RECENT</a> - SEARCH: <input id="search" type="text" onChange="search($('#search').val());" value="{% if search_string != None %}{{ search_string }}{% endif %}" />
        </div>
        {% if cloud %}
        <div id="tagcloud">
            {% for tag in cloud %}
                <a href="javascript:search('{{ tag[0] }}');" class="tag_{{ tag[1] }}">{{ tag[0] }}</a>
            {% endfor %}
        </div>
        {% endif %}        
        <div id="content">
        {% include "content.html" %}
        </div>
    </div>

</body>
</html>
